* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
  
  :root {
    --light-grey:#ececec;
    --dark-grey:#acacac;
    --green:#4CAF50;
    --red:#FF5252;
    --black-transparent:rgba(0,0,0, 0.8);
  }

  html {
    background:var(--light-grey);
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 42px;
  }

  main {
    width: 300px;
    max-width: 90%;
  }

  img {
    max-width: 30%;
  }

/********************************************** PROFILES **************************************************/

  .profiles {
    width:100%;
    position: relative;
    height:450px;
  }

  .profile {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor:pointer;
    user-select: none;
    /* user-select permet de contrôler l'opération de sélection. Il n'a pas effet sur le contenu chargé dans les élts de l'interface (chrome), sauf pour les boîtes de texte. */
    /* Avec none, on ne pourra pas sélectionner le texte de l'élt et celui de ses descendants. */
  }


  .profile__image {
    height: 0;
    padding-bottom:150%;
    background-size: cover;
    background-position: center center;
  }

  .profile__infos {
    padding:12px;
    position:absolute;
    bottom:0px;
    background:linear-gradient(0deg, black, transparent);
    width: 100%;
  }

  .bottombar {
    margin-top:24px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    /* gap : raccourcie de row-gap et column-gap qui permet de définir les espaces (les gouttières) entre les lignes et entre les colonnes d'une grille. */
  }

  .bottombar__button {
    width: 64px;
    height: 64px;
    border-radius:100%;
    background:white; 
    padding:16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.4s;
  }

  .bottombar__button:hover {
    cursor:pointer;
    opacity:0.8;
  }
